<!DOCTYPE html>{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="description"
            content="Web App development with Django and Python. Building SEO optimizes websites for businesses. Logo design, branding."
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            href="{% static 'frontpage/icons/refaktor.svg' %}"
            sizes="any"
            type="image/svg+xml"
        />
        <link rel="canonical" href="https://refaktor.dev/" />
        <style>
            html {
                background: #2e3440;
            }
        </style>
        <title>😦 • refaktor.dev</title>
    </head>

    <body></body>
</html>
