<!DOCTYPE html>{% load static %}{% load icon %}
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152031613-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-152031613-1');
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Web App development with Django and Python. Building SEO optimizes websites for businesses. Logo design, branding."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{% static 'frontpage/icons/refaktor.svg' %}"
      sizes="any"
      type="image/svg+xml"
    />
    <link rel="canonical" href="https://refaktor.dev/" />
    <link rel="stylesheet" href="{% static 'frontpage/style.min.css' %}" />
    <link rel="stylesheet" href="{% static 'frontpage/mystyle.css' %}" />
    <title>refaktor.dev 👋</title>
  </head>

  <body>
    <section class="hero is-link is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1 rd-900">refaktor.dev</h1>
          <p class="subtitle is-3 mb-6">Web development • Python • Django • JavaScript</p>

          <div class="columns mb-5">
            <div class="column is-narrow">
              <div class="level">
                <div class="level-left">
                  <div class="level-item mr-3">
                    <span class="icon"> {% icon "github" %} </span>
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item">
                    <a
                      href="https://github.com/kik369"
                      class="has-text-white"
                      target="_blank"
                      rel="github"
                      >GitHub</a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="column is-narrow">
              <div class="level">
                <div class="level-left">
                  <div class="level-item mr-3">
                    <span class="icon"> {% icon "mail" %} </span>
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item">
                    <a href="mailto:kris@refaktor.dev" class="has-text-white" target="_blank"
                      >Email</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <p class="is-size-5 mb-3">Some of the stuff that I've done</p>
          <div class="columns">
            <div class="column is-narrow">
              <div class="level">
                <div class="level-left">
                  <div class="level-item mr-3">
                    <span class="icon"> {% icon "key" %} </span>
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item">
                    <a
                      href="{% url 'frontpage:password' %}"
                      class="has-text-white"
                      rel="password generator"
                      >Password generator</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column is-narrow">
              <div class="level">
                <div class="level-left">
                  <div class="level-item mr-3">
                    <span class="icon"> {% icon "clock" %} </span>
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item">
                    <a
                      href="{% url 'frontpage:clock' %}"
                      class="has-text-white"
                      rel="password generator"
                      >JS clock with dynamic background gradient</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column is-narrow">
              <div class="level">
                <div class="level-left">
                  <div class="level-item mr-3">
                    <span class="icon"> {% icon "edit-2" %} </span>
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item">
                    <a
                      href="{% url 'frontpage:quadratic' %}"
                      class="has-text-white"
                      rel="password generator"
                      >Quadratic equation solver</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column is-narrow">
              <div class="level">
                <div class="level-left">
                  <div class="level-item mr-3">
                    <span class="icon"> {% icon "truck" %} </span>
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item">
                    <a
                      href="https://wemovemountains.co.uk/"
                      class="has-text-white"
                      rel="password generator"
                      >Moving Mountains</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="hero-foot pb-5">
        <div class="columns is-vcentered">
          <div class="column"></div>
          <div class="column is-narrow">
            <p class="is-size-5 mb-3">Tech stack</p>
          </div>
          <div class="column"></div>
        </div>
        <div class="columns is-vcentered">
          <div class="column"></div>
          <div class="column is-narrow">
            <figure class="image is-64x64">
              <img src="{% static 'frontpage/images/html-5.svg' %}" />
            </figure>
          </div>
          <div class="column is-narrow">
            <figure class="image is-64x64">
              <img src="{% static 'frontpage/images/css-3.svg' %}" />
            </figure>
          </div>
          <div class="column is-narrow">
            <figure class="image is-64x64">
              <img src="{% static 'frontpage/images/scss.png' %}" />
            </figure>
          </div>
          <div class="column is-narrow">
            <figure class="image is-64x64">
              <img src="{% static 'frontpage/images/JavaScript.svg' %}" />
            </figure>
          </div>
          <div class="column is-narrow">
            <figure class="image is-64x64">
              <img src="{% static 'frontpage/images/python.svg' %}" />
            </figure>
          </div>
          <div class="column is-narrow is-vcentered">
            <img
              src="{% static 'frontpage/images/django-logo-positive.svg' %}"
              width="183"
              height="64"
            />
          </div>
          <div class="column is-narrow">
            <figure class="image is-64x64">
              <img src="{% static 'frontpage/images/github-logo.svg' %}" />
            </figure>
          </div>
          <div class="column is-narrow">
            <figure class="image is-64x64">
              <img src="{% static 'frontpage/images/DO_Logo_icon_black.svg' %}" />
            </figure>
          </div>
          <div class="column is-narrow">
            <figure class="image is-64x64">
              <img src="{% static 'frontpage/images/logomark-light.svg' %}" />
            </figure>
          </div>
          <div class="column is-narrow">
            <figure class="image is-64x64">
              <img src="{% static 'frontpage/images/affinity-designer.svg' %}" />
            </figure>
          </div>
          <div class="column is-narrow">
            <figure class="image is-64x64">
              <img src="{% static 'frontpage/images/figma.png' %}" />
            </figure>
          </div>
          <div class="column is-narrow">
            <figure class="image is-64x64">
              <img src="{% static 'frontpage/images/adobe-xd.svg' %}" />
            </figure>
          </div>
          <div class="column is-narrow">
            <figure class="image is-64x64">
              <img src="{% static 'frontpage/images/paypal.svg' %}" />
            </figure>
          </div>
          <div class="column is-narrow">
            <figure class="image is-64x64">
              <img src="{% static 'frontpage/images/integromat.png' %}" />
            </figure>
          </div>
          <div class="column"></div>
        </div>
      </div>
    </section>
  </body>
</html>
