<!DOCTYPE html>{% load static %}
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152031613-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-152031613-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Web App development with Django and Python. Building SEO optimizes websites for businesses. Logo design, branding.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>refaktor.dev 🔥 👋</title>
    <link rel="canonical" href="https://refaktor.dev/">
    <link rel="stylesheet" href="{% static 'frontpage/style.css' %}">
    <link rel="stylesheet" href="{% static 'frontpage/mystyle.css' %}">
</head>

<body>
    <section class="hero is-link is-fullheight">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1 rd-900">
                    refaktor.dev
                </h1>
                <p class="subtitle is-3">
                    Web development • Python • Django
                </p>
                <div class="columns">
                    <div class="column is-narrow">
                        <a href="https://github.com/kik369" class="has-text-white" target="_blank">github</a>
                    </div>
                    <div class="column">
                        <a href="mailto:kris@refaktor.dev" class="has-text-white" target="_blank">email</a>
                    </div>
                </div>


            </div>
        </div>
    </section>
</body>

</html>