<!DOCTYPE html>{% load static %}{% load icon %}
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152031613-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-152031613-1');
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Password generator. Web App development with Django and Python. Building SEO optimizes websites for businesses. Logo design, branding."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{% static 'frontpage/icons/refaktor.svg' %}"
      sizes="any"
      type="image/svg+xml"
    />
    <link rel="canonical" href="https://refaktor.dev/" />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'frontpage/mystyle.css' %}" />
    <title>Password generator • refaktor.dev 👋</title>
  </head>

  <body>
    <a class="btn-floating btn-large home-icon" href="{% url 'frontpage:home' %}"
      ><i class="material-icons">home</i></a
    >
    <div class="container">
      <div class="valign-wrapper">
        <div>
          <h3>Password generator 🔑</h3>
        </div>
      </div>
      <div class="divider"></div>

      <form>
        <h5>Password length</h5>
        <p class="range-field">
          <input type="range" id="passLength" min="1" max="256" value="50" />
        </p>
        <h5>Characters</h5>
        <p>
          <label>
            <input type="checkbox" id="useAsciiLowerCase" checked="checked" />
            <span>ASCII lowercase (abcdefghijklmnopqrstuvwxyz)</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" id="useAsciiUpperCase" checked="checked" />
            <span>ASCII uppercase (ABCDEFGHIJKLMNOPQRSTUVWXYZ)</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" id="useDigits" checked="checked" />
            <span>Digits (0123456789)</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" id="usePunctuation" checked="checked" />
            <span>Punctuation (!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~)</span>
          </label>
        </p>
        <button class="btn btn-large waves-effect waves-light" type="submit" name="action">
          Generate
          <i class="material-icons left">autorenew</i>
        </button>
      </form>
      <div class="output" style="display: none">
        <h5>Your password</h5>
        <div class="card-panel grey lighten-2">
          <code style="word-wrap: break-word"
            >9w*TyQ!s-[h?Az)flz$Ipc^$y;p/{\aTy|V]FNcfM/(oeNtGhi</code
          >
        </div>
        <p class="right-align"><em>Click on the password to copy</em></p>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'frontpage/js/password.js' %}"></script>
  </body>
</html>
